Repository itzcole03/A1Betting7-13.2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, api-contract-tests, contract-violation-scan, response-model-annotations, safety-check, npm-audit, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  api-contract-tests: any of: ^backend/(routes/|tests/).*\.py$
  contract-violation-scan: any of: ^backend/routes/.*\.py$
  response-model-annotations: any of: ^backend/routes/(enhanced_api|production_health_routes|unified_api|optimized_api_routes)\.py$
  safety-check: any of: ^backend/requirements.*\.txt$
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
  bundle-size-check: any of: ^frontend/.*\.(js|jsx|ts|tsx|css)$, but not: ^frontend/dist/.*$
  smoke-tests-backend: any of: ^backend/.*\.py$
  smoke-tests-frontend: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/dist/.*$
  typescript-strict-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  test-coverage-check: any of: ^backend/.*\.py$

feat: Enhance SportRadarService with comprehensive API integration and cloud environment detection
  README.md
Due: none

chore(pr): add PR draft for EV enrichment
  .github/PR_DRAFT_EV_ENRICHMENT.md
Due: none

docs: update .github/copilot-instructions.md with concise AI agent guide
  .github/copilot-instructions.md
Due: none

docs: add admin dashboard notes to copilot instructions
  .github/copilot-instructions.md
Due: none

chore: revert SportradarService.ts to previous state (docs-only commit)
  frontend/src/services/sportRadarService.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

chore(sportradar): add service demo helpers; fix usePropFinderData types
  frontend/src/hooks/usePropFinderData.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

chore(test): remove duplicate framer-motion.js mock
  frontend/src/__mocks__/framer-motion.js
  frontend/src/services/__tests__/SportradarService.test.ts
  frontend/src/services/sportRadarService.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

chore(test): allow tests in src/services by removing services ignore
  frontend/jest.config.cjs
Due: none

test(sportRadar): mock robustApi.get and assert it is not called in cloud demo mode
  frontend/src/services/__tests__/SportradarService.test.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

test(sportRadar): ensure robustApi is mocked before service import using requireMock
  frontend/src/services/__tests__/SportradarService.test.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

refactor(sportRadar): inject ApiClient, add types and logger; fix tests and jest config
  frontend/src/hooks/usePropFinderData.ts
  frontend/src/services/sportRadarService.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

test(jest): map framer-motion to TypeScript manual mock
  frontend/jest.config.cjs
Due: none

fix(hooks): add userId option; refactor Sportradar service and tests
  frontend/src/hooks/usePropFinderData.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

feat(ev): add EV feed endpoint and frontend demo; tests
  backend/routes/ev_routes.py
  backend/tests/test_ev_routes.py
  backend/tests/test_ev_service.py
  frontend/src/pages/EVFeedDemo.tsx
Due: typescript-check, api-contract-tests, contract-violation-scan, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

feat: add explicit HEAD handlers to reduce 404 noise
  backend/routes/security_head_endpoints.py
  tests/backend/routes/test_head_endpoints.py
Due: api-contract-tests, contract-violation-scan, smoke-tests-backend, test-coverage-check

tests: satisfy HEAD /api/propfinder/opportunities with explicit handler
  backend/routes/security_head_endpoints.py
Due: api-contract-tests, contract-violation-scan, smoke-tests-backend, test-coverage-check

chore: exclude legacy BankrollPageOld.tsx and add expanded TS triage report
  frontend/tsconfig.json
  reports/ts_triage/frontend-ts-triage-104b5938-after-exclude.json
  reports/ts_triage/frontend_tsc_full_104b5938_after_exclude.txt
  reports/ts_triage/frontend_tsc_normalized_104b5938_after_exclude.txt
  reports/ts_triage/top_files_104b5938.md
Due: none

chore(smoke): add smoke reporter npm script and README for core shims quickcheck
  frontend/package.json
  frontend/src/core/tests/smoke/README.md
  frontend/src/core/tests/smoke/smoke_reporter.cjs
Due: npm-audit

fix(propfinder): correct global declarations to avoid import-time SyntaxError; add integration test for debug persistence
  backend/routes/propfinder_routes.py
  backend/tests/test_propfinder_debug.py
  frontend/src/core/CI/smoke_runner_wrapper.sh
Due: api-contract-tests, contract-violation-scan, smoke-tests-backend, test-coverage-check

Fix EV/CLV enrichment indentation and guard aiProbability handling; restore debug persistence
  backend/routes/propfinder_routes.py
Due: api-contract-tests, contract-violation-scan, smoke-tests-backend, test-coverage-check

chore(ui): suppress TS checks for top UI files (temporary @ts-nocheck) to reduce triage noise — Batch A
  frontend/src/components/ui/ConfidenceBandChart.tsx
  frontend/src/components/ui/ModernNotificationCenter.tsx
  frontend/src/components/ui/ParticleField.tsx
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

chore(ui): suppress TS checks for next triage targets (Batch A) - BetSimulationTool, SportsManager, StyledSelect
  frontend/src/components/features/sports/SportsManager.tsx
  frontend/src/components/ui/BetSimulationTool.tsx
  frontend/src/components/ui/StyledSelect.tsx
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

chore(ui): suppress TS checks for next triage targets (Batch A) - predictionCache, SafeChart, ModernCommandPalette
  frontend/src/components/ui/ModernCommandPalette.tsx
  frontend/src/components/ui/SafeChart.tsx
  frontend/src/services/predictionCache.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

chore(service): implement SportRadarService with mock-friendly client injection
  frontend/src/services/SportradarService.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

test(setup): guard console.warn and filter noisy logger messages to avoid teardown errors in Jest
  frontend/src/setupTests.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

test: add discoverable wrappers for PropOllama tests and add PR draft notes
  frontend/PR_DRAFT.md
  frontend/src/tests/targeted/PropOllama_Services.coverage.test.tsx
  frontend/src/tests/targeted/PropOllama_UI.coverage.test.tsx
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

chore(tests): apply conservative require() replacements from detector and ensure wrappers present
  frontend/PR_DRAFT.md
  frontend/src/tests/targeted/PlayerDashboardContainer.coverage.test.tsx
  frontend/src/tests/targeted/propOllamaService.coverage.test.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

feat(query-optimizer): safe pagination + observability endpoints; docs: refresh Copilot Field Guide
  .github/copilot-instructions.md
  backend/config/settings.py
  backend/core/app.py
  backend/logs/structured.log.1
  backend/routes/modern_ml_phase2_routes.py
  backend/routes/query_optimizer_routes.py
  backend/routes/unified_batch_compat.py
  backend/services/advanced_model_performance_monitoring.py
  backend/services/alert_engine_core.py
  backend/services/alerting/rule_evaluator.py
  backend/services/analytics_persistence_service.py
  backend/services/analytics_scheduler.py
  backend/services/async_performance_optimizer.py
  backend/services/batch_prediction_optimizer.py
  backend/services/batch_prop_analysis_service.py
  backend/services/cache_instrumentation.py
  backend/services/cache_service_ext.py
  backend/services/comprehensive_prop_generator.py
  backend/services/data_quality_monitor.py
  backend/services/data_source_orchestrator.py
  backend/services/data_validation_integration.py
  backend/services/enhanced_async_pipeline.py
  backend/services/enhanced_connection_pool.py
  backend/services/enhanced_data_pipeline.py
  backend/services/event_driven_cache.py
  backend/services/intelligent_cache_service.py
  backend/services/query_optimizer.py
  backend/services/unified_data_fetcher.py
  backend/tests/test_intelligent_cache_service.py
  backend/tests/test_query_optimizer.py
  backend/tests/test_query_optimizer_routes.py
  performance_profiling_report.txt
  phase2_performance_benchmark.py
  tools/bench_pipeline_ttl.py
  tools/detect_mixed_require_imports.cjs
  tools/logging_microbenchmark.py
  tools/profile_unified_services.py
  unified_services_profile.prof
Due: api-contract-tests, contract-violation-scan, smoke-tests-backend, test-coverage-check

docs: rewrite project README
  README.md
Due: none
