Repository itzcole03/A1Betting7-13.2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, api-contract-tests, contract-violation-scan, response-model-annotations, safety-check, npm-audit, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  api-contract-tests: any of: ^backend/(routes/|tests/).*\.py$
  contract-violation-scan: any of: ^backend/routes/.*\.py$
  response-model-annotations: any of: ^backend/routes/(enhanced_api|production_health_routes|unified_api|optimized_api_routes)\.py$
  safety-check: any of: ^backend/requirements.*\.txt$
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
  bundle-size-check: any of: ^frontend/.*\.(js|jsx|ts|tsx|css)$, but not: ^frontend/dist/.*$
  smoke-tests-backend: any of: ^backend/.*\.py$
  smoke-tests-frontend: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/dist/.*$
  typescript-strict-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  test-coverage-check: any of: ^backend/.*\.py$

Phase 2.2: Consolidate 12+ prediction services into UnifiedPredictionService
  CHANGELOG.md
  frontend/src/services/analytics/predictionOptimizationService.d.ts
  frontend/src/services/analytics/predictionOptimizationService.ts
  frontend/src/services/quantumPredictionsService.ts
  frontend/src/services/realTimePredictionService.ts
  frontend/src/services/unified/UnifiedPredictionService.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

Phase 2.1: retire legacy src auth router
  backend/BACKEND_FILE_USAGE_ANALYSIS.md
  backend/src/auth.py
Due: smoke-tests-backend, test-coverage-check

Phase 2.1: update roadmap for auth consolidation
  docs/archive/root/roadmap.md
Due: none

Phase 2.3b: Frontend - add legacy shim and migrate small batch; Sportsbook compatibility fixes
  backend/__init__.py
  backend/auth/security.py
  frontend/src/components/features/modern/PropFinderKillerDashboard.tsx
  frontend/src/services/enhanced/SportsbookDataService.ts
  frontend/src/services/unified/legacyShims.ts
Due: typescript-check, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

Phase 2.3b: Frontend - re-export legacy services to unified shim (optimized, normalization, dataIntegration)
  frontend/src/data/dataIntegrationService.ts
  frontend/src/services/DataNormalizationService.ts
  frontend/src/services/optimizedDataService.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

Phase 2.3c: Tests — migrate shim unit tests to assert UnifiedDataService surface (remove legacy module requires)
  frontend/src/services/unified/__tests__/shims.test.ts
  frontend/src/services/unified/__tests__/shims_forwarding.test.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

Fix(frontend): Accordion title prop type conflict (allow ReactNode)
  frontend/src/components/base/Accordion.tsx
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

Triage(frontend): use babel-jest transformer; shim axios.isAxiosError in jest env mock
  frontend/jest.config.cjs
  frontend/jest.env.mock.js
Due: bundle-size-check, smoke-tests-frontend

Triage(frontend): make jest.dom.setup.js CommonJS so Jest can load it
  frontend/jest.dom.setup.js
Due: bundle-size-check, smoke-tests-frontend

feat(migration): frontend unified data-service shims and test tooling fixes; stabilize inference audit tests
  frontend/babel.config.cjs
  frontend/jest.dom.setup.js
  frontend/jest.env.mock.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/base/Accordion.tsx
  frontend/src/services/__tests__/propOllamaService.test.ts
  frontend/src/tests/InferenceAudit.test.tsx
  frontend/src/utils/getBackendUrl.ts
  frontend/src/utils/safeEnvironment.ts
Due: typescript-check, npm-audit, bundle-size-check, smoke-tests-frontend, typescript-strict-check

consolidation: re-export unified backend service and align TheOddsAdapter getData
  backend/services/correlation/correlation_engine.py
  backend/services/valuation/valuation_engine.py
  frontend/src/adapters/TheOddsAdapter.ts
  frontend/src/services/unified/__tests__/UnifiedDataService.test.ts
  frontend/src/setupTests.ts
  frontend/src/tests/InferenceAudit.test.tsx
Due: typescript-check, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

Phase 2.3c: Delete redundant data services after consolidation
  backend/services/alternative_data_sources_service.py
  backend/services/core/optimized_real_time_data_service.py
  backend/services/core/optimized_real_time_data_service_impl.py
  backend/services/data_warehouse_optimization_service.py
  backend/services/database_migration_service.py
  backend/services/database_service.py
  backend/services/enhanced_data_validation_service.py
  backend/services/enhanced_database_migration_service.py
  backend/services/optimized_data_service.py
  backend/services/optimized_database_service.py
  backend/services/optimized_real_time_data_service.py
  backend/services/propfinder_data_service.py
  backend/services/real_data_service.py
  frontend/src/services/DataNormalizationService.ts
Due: typescript-check, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

chore: remove .bak backup files
  backend/services/database_service.py
  backend/services/propfinder_data_service.py
Due: smoke-tests-backend, test-coverage-check

revert: restore files removed by Phase 2.3c deletion
  backend/services/alternative_data_sources_service.py
  backend/services/core/optimized_real_time_data_service.py
  backend/services/core/optimized_real_time_data_service_impl.py
  backend/services/data_warehouse_optimization_service.py
  backend/services/database_migration_service.py
  backend/services/database_service.py
  backend/services/enhanced_data_validation_service.py
  backend/services/enhanced_database_migration_service.py
  backend/services/optimized_data_service.py
  backend/services/optimized_database_service.py
  backend/services/optimized_real_time_data_service.py
  backend/services/propfinder_data_service.py
  backend/services/real_data_service.py
  frontend/src/services/DataNormalizationService.ts
Due: typescript-check, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

refactor: remove thin wrapper DataNormalizationService (forwarding to UnifiedDataService)
  PR_DRAFT_refactor_phase-2_consolidation.md
  PR_READY_INSTRUCTIONS.md
  backend/core/app.py
  backend/routes/bets_routes.py
  backend/routes/propfinder_routes.py
  backend/services/auth_service.py
  backend/services/cache_service_ext.py
  ci_statistical_results.json
  tests/backend/routes/test_app_auth_mount.py
  tests/backend/services/test_auth_service_shim.py
  tmp_propfinder_last_payload_responsebuilder.json
Due: api-contract-tests, contract-violation-scan, smoke-tests-backend, test-coverage-check

Phase 1: Automated deletion of duplicate components
  automated_plan_phase3_create_registry.sh
Due: none

Phase 1: Automated deletion of duplicate components
  run_automated_consolidation.sh
Due: none

Phase 3: Create central component registry
  frontend/src/components/index.ts
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

chore(consolidation): fix script paths, make master script tolerant to no-op commits, create central component registry, restore frontend entry files
  backend/core/app.py
  backend/core/middleware.py
  backend/core/responses.py
  backend/core/routing.py
  frontend/src/App.tsx
  frontend/src/main.tsx
Due: typescript-check, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

Consolidation Phase 4 Complete: Refactor Oversized Files
  CONSOLIDATION_PHASE4_COMPLETE.md
  PHASE4_FILE_ANALYSIS.json
  backend/data/players/__init__.py
  backend/data/players/mlb_players.py
  backend/data/players/mls_players.py
  backend/data/players/nba_players.py
  backend/data/players/wnba_players.py
  backend/deprecated/api_integration.py
  backend/deprecated/production_fix.py
  backend/domains/betting/analyzer.py
  backend/domains/betting/risk_manager.py
  backend/domains/betting/ultimate_analyzer.py
  backend/models/api_models.py
  backend/models/auth_models.py
  backend/models/betting_models.py
  backend/models/prizepicks_models.py
  backend/production_fix.py.backup
  backend/routes/production_routes.py
  backend/services/external/api_integration.py.backup
  backend/services/external/api_integration_v2.py
  backend/services/ml/engines.py
  backend/services/ml/lazy_loader.py
  backend/services/odds/__init__.py
  backend/services/odds/odds_service.py
  backend/services/prizepicks/__init__.py
  backend/services/prizepicks/data_service.py
  backend/services/websocket/__init__.py
  backend/services/websocket/connection_manager.py
  refactor_api_integration.py
  refactor_production_fix.md
  refactor_production_fix.py
Due: api-contract-tests, contract-violation-scan, smoke-tests-backend, test-coverage-check

refactor: consolidate configs and reintegrate high-priority services
  CONFIG_GUIDE.md
  DOCKER_CONFIGS.md
  backend/REINTEGRATION_CHECKLIST.md
  backend/REINTEGRATION_CODE.py
  backend/data_pipeline.py
  backend/database.py
  backend/eslint.config.js
  backend/health_api.py
  backend/production_api.py
  backend/requirements_unified.txt
  backend/requirements_unified_optimized.txt
  backend/routes/enhanced_ml_model_pipeline_router.py
  backend/routes/enhanced_provider_statistics_router.py
  backend/routes/ev_service_router.py
  backend/routes/intelligent_cache_service_router.py
  backend/routes/modern_async_architecture_router.py
  backend/services/database_service.py
  requirements.txt
Due: api-contract-tests, contract-violation-scan, safety-check, smoke-tests-backend, test-coverage-check

docs: add comprehensive refactoring summary
  REFACTORING_SUMMARY.md
Due: none

feat: Implement advanced dependency injection patterns for FastAPI
  backend/core/dependencies.py
  backend/core/logging_config.py
  backend/core/middleware.py
  backend/core/settings.py
  backend/main_production.py
  frontend/src/lib/api-client.ts
  frontend/tsconfig.strict.json
  tmp_propfinder_last_payload_responsebuilder.json
  tmp_propfinder_responsebuilder_inspect.json
Due: typescript-check, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

feat: Dashboard consolidation - Add PerformanceMetrics and DashboardSettingsPanel
  CONSOLIDATION_IMPLEMENTATION.md
  DASHBOARD_CONSOLIDATION_GUIDE.md
  DASHBOARD_CONSOLIDATION_REPORT.md
  dashboard_consolidation.md
  frontend/src/components/dashboard/DashboardSettingsPanel.tsx
  frontend/src/components/dashboard/PerformanceMetrics.tsx
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check
