Repository itzcole03/A1Betting7-13.2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, api-contract-tests, contract-violation-scan, response-model-annotations, safety-check, npm-audit, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

api-contract-tests:
  name: API Contract Tests
  entry: python
  language: system
  args:
  - -m
  - pytest
  - backend/tests/test_contract_http_comprehensive.py
  - -v
  - --tb=short
  pass_filenames: false
  stages:
  - commit

contract-violation-scan:
  name: Scan for Contract Violations
  entry: python
  language: system
  args:
  - -c
  ...

response-model-annotations:
  name: Check Response Model Annotations
  entry: python
  language: system
  args:
  - -c
  ...

safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

bundle-size-check:
  name: Bundle Size Check
  entry: bash -c 'cd frontend && npm run build && npx bundlesize'
  language: system
  pass_filenames: false

smoke-tests-backend:
  name: Backend Smoke Tests
  entry: bash -c 'cd backend && python -m pytest tests/smoke/ -v --tb=short || python -m pytest tests/ -k "smoke" -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

smoke-tests-frontend:
  name: Frontend Smoke Tests
  entry: bash -c 'cd frontend && npm run test:smoke || npm run test -- --testNamePattern="smoke" --passWithNoTests'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-strict-check:
  name: TypeScript Strict Mode Check
  entry: bash -c 'cd frontend && npx tsc --noEmit --strict'
  language: system
  pass_filenames: false

test-coverage-check:
  name: Test Coverage Check
  entry: bash -c 'cd backend && python -m pytest --cov=. --cov-report=term --cov-fail-under=70 --tb=no -q || echo "Test coverage below threshold - continuing with warning"'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: Add comprehensive PropFinder clone implementation with advanced features and performance enhancements
  README.md
Due: none

Add reconnaissance tools for PropFinder.app analysis
  .github/prompts/review.prompt.md
  PROPFINDER_COMPETITIVE_ROADMAP.md
  create-issues.ps1
  create_issues.ps1
  create_issues.py
  issues.json
  scripts/README.md
  scripts/package.json
  scripts/recon.js
  scripts/recon.ps1
  scripts/recon.sh
Due: none

feat: Implement PropFinder Dashboard with data fetching, filtering, and virtualization
  frontend/src/components/dashboard/PropFinderDashboard.tsx.backup
  frontend/src/components/dashboard/PropFinderDashboardSimple.tsx
  test_phase1_validation.py
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

feat: Enhance core functionality validator and websocket manager
  frontend/jest.dom.setup.js
  frontend/src/__tests__/App.e2e.test.tsx
  frontend/src/__tests__/App.empty-state.e2e.test.tsx
  frontend/src/components/PropOllamaUnified.tsx
  frontend/src/components/phase4/PerformanceMonitoringDashboard.tsx
  frontend/src/services/EnhancedDataManagerRefactored.ts
  frontend/src/services/coreFunctionalityValidator.ts
  frontend/src/utils/ensureHealthShape.ts
  frontend/src/websocket/BackoffStrategy.ts
  frontend/src/websocket/WebSocketManager.ts
  frontend/src/websocket/__tests__/WebSocketManager.test.ts
  reports/junit/js-test-results.xml
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

metrics: fix cache hook detection, allow module-level patching; tolerant instrumentation decorator; optimize cache counters
  backend/services/metrics/cache_metrics_hook.py
  backend/services/metrics/instrumentation.py
  backend/services/metrics/unified_metrics_collector.py
Due: smoke-tests-backend, test-coverage-check

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  api-contract-tests: any of: ^backend/(routes/|tests/).*\.py$
  contract-violation-scan: any of: ^backend/routes/.*\.py$
  response-model-annotations: any of: ^backend/routes/(enhanced_api|production_health_routes|unified_api|optimized_api_routes)\.py$
  safety-check: any of: ^backend/requirements.*\.txt$
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
  bundle-size-check: any of: ^frontend/.*\.(js|jsx|ts|tsx|css)$, but not: ^frontend/dist/.*$
  smoke-tests-backend: any of: ^backend/.*\.py$
  smoke-tests-frontend: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/dist/.*$
  typescript-strict-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  test-coverage-check: any of: ^backend/.*\.py$
