Repository itzcole03/A1Betting7-13.2: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, api-contract-tests, contract-violation-scan, response-model-annotations, safety-check, npm-audit, bundle-size-check, smoke-tests-backend, smoke-tests-frontend, typescript-strict-check, test-coverage-check

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

api-contract-tests:
  name: API Contract Tests
  entry: python
  language: system
  args:
  - -m
  - pytest
  - backend/tests/test_contract_http_comprehensive.py
  - -v
  - --tb=short
  pass_filenames: false
  stages:
  - commit

contract-violation-scan:
  name: Scan for Contract Violations
  entry: python
  language: system
  args:
  - -c
  ...

response-model-annotations:
  name: Check Response Model Annotations
  entry: python
  language: system
  args:
  - -c
  ...

safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

bundle-size-check:
  name: Bundle Size Check
  entry: bash -c 'cd frontend && npm run build && npx bundlesize'
  language: system
  pass_filenames: false

smoke-tests-backend:
  name: Backend Smoke Tests
  entry: bash -c 'cd backend && python -m pytest tests/smoke/ -v --tb=short || python -m pytest tests/ -k "smoke" -v --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

smoke-tests-frontend:
  name: Frontend Smoke Tests
  entry: bash -c 'cd frontend && npm run test:smoke || npm run test -- --testNamePattern="smoke" --passWithNoTests'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-strict-check:
  name: TypeScript Strict Mode Check
  entry: bash -c 'cd frontend && npx tsc --noEmit --strict'
  language: system
  pass_filenames: false

test-coverage-check:
  name: Test Coverage Check
  entry: bash -c 'cd backend && python -m pytest --cov=. --cov-report=term --cov-fail-under=70 --tb=no -q || echo "Test coverage below threshold - continuing with warning"'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: Integrate PerformanceMetrics and DashboardSettingsPanel into PropFinderDashboard
  INTEGRATION_SUMMARY.md
  frontend/src/components/dashboard/PropFinderDashboard.tsx
Due: typescript-check, bundle-size-check, smoke-tests-frontend, typescript-strict-check

docs: Add project completion report
  COMPLETION_REPORT.md
Due: none

feat: Add multi-source NBA data integration for PropFinder
  backend/services/nba_provider_client.py
  backend/services/propfinder_data_service.py
Due: smoke-tests-backend, test-coverage-check

Fix bootstrap and import-time failures
  BOOTSTRAP_FIXES_SUMMARY.md
  backend/services/lazy_sport_manager.py
  backend/services/odds_store.py
  backend/services/optimized_intelligent_caching_service.py
Due: smoke-tests-backend, test-coverage-check

feat: Add fallback logger to builtins for legacy module compatibility during app bootstrap
  backend/core/app.py
  backend/models/api_models.py
Due: smoke-tests-backend, test-coverage-check

feat: Enhance PropFinder service diagnostics and add debug endpoints for better visibility
  backend/core/app.py
  backend/routes/propfinder_routes.py
  scripts/inspect_uvicorn_listeners.ps1
  scripts/show_parent_pids.ps1
  scripts/show_python_cmdlines.ps1
  scripts/start_uvicorn.ps1
  scripts/start_uvicorn_authoritative.ps1
  scripts/stop_uvicorn.ps1
Due: api-contract-tests, contract-violation-scan, smoke-tests-backend, test-coverage-check

Add unified_data_service.py for re-exporting service interfaces
  novcleanup/deleted_services/phase1_unused/comprehensive_prop_generator.py
  novcleanup/deleted_services/phase1_unused/mlb_provider_client.py
  novcleanup/deleted_services/phase1_unused/propfinder_data_service.py
  novcleanup/deleted_services/phase1_unused/propollama_intelligence_service.py
  novcleanup/deleted_services/phase1_unused/provider_resilience_integration.py
  novcleanup/deleted_services/phase1_unused/redis_cache_service.py
  novcleanup/deleted_services/phase1_unused/simple_propfinder_service.py
  novcleanup/deleted_services/phase1_unused/unified_data_service.py
Due: none

feat: Implement NBA-only data pipeline and cleanup dead code
  NBA_PIPELINE_IMPLEMENTATION.md
  NBA_PIPELINE_README.md
  QUICK_CLEANUP_COMMANDS.sh
  analyze_mock_services.py
  backend/services/nba_data_adapter.py
  deleted_services/phase1_unused/analyze_database.py
  deleted_services/phase1_unused/api_integration_v2.py
  deleted_services/phase1_unused/cache_warming_service.py
  deleted_services/phase1_unused/correlation_ticketing_metrics.py
  deleted_services/phase1_unused/database_migration_service.py
  deleted_services/phase1_unused/edge_trigger.py
  deleted_services/phase1_unused/email_service.py
  deleted_services/phase1_unused/enhanced_integration_manager.py
  deleted_services/phase1_unused/enhanced_ml_shim.py
  deleted_services/phase1_unused/export_service.py
  deleted_services/phase1_unused/generate_realistic_mock_odds.py
  deleted_services/phase1_unused/mlb_feature_engineering.py
  deleted_services/phase1_unused/odds_normalization.py
  deleted_services/phase1_unused/odds_storage_service.py
  deleted_services/phase1_unused/optimized_data_service.py
  deleted_services/phase1_unused/optimized_database_service.py
  deleted_services/phase1_unused/optimized_intelligent_caching_service.py
  deleted_services/phase1_unused/player_performance_service.py
  deleted_services/phase1_unused/real_data_service.py
  deleted_services/phase1_unused/real_sportsbook_service.py
  deleted_services/phase1_unused/real_ultra_accuracy_engine.py
  deleted_services/phase1_unused/redis_rate_limiter.py
  deleted_services/phase1_unused/simple_cache_warmer.py
  deleted_services/phase1_unused/statcast_ml_integration_simple.py
  deleted_services/phase1_unused/transaction_service.py
  deleted_services/phase1_unused/websocket_data_streamer.py
  deleted_services/phase1_unused/websocket_manager.py
  deleted_services/phase3_non_nba/baseball_savant_client.py
  deleted_services/phase3_non_nba/enhanced_baseball_savant_client.py
  deleted_services/phase3_non_nba/mlb_stats_api_client.py
  requirements.txt
  test_nba_pipeline.py
Due: smoke-tests-backend, test-coverage-check

Path conditions:
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  api-contract-tests: any of: ^backend/(routes/|tests/).*\.py$
  contract-violation-scan: any of: ^backend/routes/.*\.py$
  response-model-annotations: any of: ^backend/routes/(enhanced_api|production_health_routes|unified_api|optimized_api_routes)\.py$
  safety-check: any of: ^backend/requirements.*\.txt$
  npm-audit: any of: ^frontend/(package\.json|package-lock\.json)$
  bundle-size-check: any of: ^frontend/.*\.(js|jsx|ts|tsx|css)$, but not: ^frontend/dist/.*$
  smoke-tests-backend: any of: ^backend/.*\.py$
  smoke-tests-frontend: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: ^frontend/dist/.*$
  typescript-strict-check: any of: ^frontend/.*\.(ts|tsx)$, but not: ^frontend/dist/.*$
  test-coverage-check: any of: ^backend/.*\.py$
